In [101]:
import pandas as pd

filepath = 'input.txt'

df = pd.read_csv(filepath, sep="\s+", header=None, names=["Left", "Right"])

left_series = df['Left']
right_series = df['Right']

left_series = left_series.sort_values().reset_index(drop=True)
right_series = right_series.sort_values().reset_index(drop=True)

df = pd.DataFrame({"Left": left_series, "Right": right_series})

df['diff'] = abs(df['Left'] - df['Right'])

df.head(10)

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
/var/folders/hm/45j7yjzj389_cjf9p674m7000000gn/T/ipykernel_3474/3717970991.py:5: SyntaxWarning: invalid escape sequence '\s'
  df = pd.read_csv(filepath, sep="\s+", header=None, names=["Left", "Right"])

    Left  Right  diff
0  10055  10568   513
1  10069  10743   674
2  10158  11109   951
3  10237  11134   897
4  10354  11428  1074
5  10397  11554  1157
6  10601  11598   997
7  10666  11635   969
8  10691  11690   999
9  10869  11694   825

In [104]:
print(df['diff'].sum())

np.int64(3508942)

In [102]:
df['left_in_right'] = df['Left'].apply(lambda x: (df['Right'] == x).sum() * x)

In [103]:
print(df['left_in_right'].sum())

np.int64(26593248)